.fotoSelect {
    margin-top: 50px;
    margin-left: 50px;
    width: 400px;
    height: 400px;
  }
  .cajaFoto {
    float: left;
  }
  .cajaTexto {
    float: left;
    margin-top: 50px;
    margin-left: 50px;
    width: 500px;
    color: white;
    font-size: 20px;
  }
  