*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body,html{
    padding: 0;
    margin:0;
}

.app{
    width: 400px;
    margin: auto;
    max-width: 100%;
    border: 1px solid;
    padding: 0 2rem 2rem 2rem;
    margin-top: 2rem;
    background-color: rgb(247, 248, 186);
}

.wish-input{
    border: 0;
    border-bottom: 3px dashed grey;
    padding: 0;
}

.wish-input__field{
    width: 100%;
    border: 0;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: transparent;
}

.wish-list{
    list-style: none;
    padding: 0;
}

.wish-list__item{
    display: flex;
    font-size: 1.2rem;
    align-items:center;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
}

.wish-list__item input{
    width: 2rem;
    height: 2rem;
}

.wish-list__item--done label{
    text-decoration: line-through;
}

.wish-list__item--done{
    background-color: rgba(14, 241, 44, 0.5);
    transition: 2s;
}

.wish-list__item--warn{
    background-color: rgba(14, 93, 241, 0.5);
    transition: 1s;
}

.wish-list__item--danger{
    background-color:rgba(220, 20, 60, 0.5);
    transition: 1s;
}

.wish-clear{
    width: 100%;
    padding: 0.5rem ;
    background: #add1f3;
    font-size: 1.2rem;
    border:1px solid grey;
    border: 3px;
}