/* CSS PARA LA APP*/


body {
  background-image: url('./img/wallpaper.jpg');
}


.logo {
  width: 70%;
}

nav a {
  /* ESTILOS PARA EL MENÚ */
  color: aliceblue;
  margin-left: 10%;
  font-size: xx-large;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

a:hover,
a:active {
  color: red;
}

.titulo {
  /* CLASE PARA LOS TITULOS DE CADA SECCIÓN DEL MENÚ */
  color: white;
  text-align: center;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
}

header {
  display: grid;
  grid-template-columns: 20% 60%;
  align-items: center;
}

.heroes {
  width: 95%;
  display: block;
  margin: auto;
}

.separacion {
  padding: 2%;
}

footer {
  color: white;
}

#icono1 {
  margin-left: 15px;
  font-size: 25px;
  color: white;
}

#icono2 {
  margin-left: 15px;
  font-size: 25px;
  color: white;
}

#icono3 {
  margin-left: 15px;
  font-size: 25px;
  color: white;
}
